body {
  background-color: blanchedalmond;
  margin: 80px;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  row-gap: 15px;
}

.box {
  background-color: #bba0d4;
  border: 3px solid rgb(139, 108, 189);
  height: 600px;
  padding: 50px;
  margin: 8px;
}

.layer1, .layer2, .layer3 {
  display: flex;
  flex-direction: row;
}

.layer1r {
  display: flex;
  flex-direction: column;
  flex-grow: 5;
}

#b1 {
  flex-grow: 2;
}

#b2 {
  flex-grow: 1;
  height: 250px;
}

#b3 {
  flex-grow: 1;
  height: 150px;
}

#b4 {
  flex-grow: 1.5;
}

#b5 {
  flex-grow: 7;
}

#b6 {
  flex-grow: 1;
}

#b7 {
  flex-grow: 1;
}


  

